services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=industry_chat'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
      - 'TZ=Asia/Kolkata'
      - 'PGTZ=Asia/Kolkata'
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:8.9.0'
    environment:
      - 'discovery.type=single-node'
      - 'xpack.security.enabled=false'
      - 'ES_JAVA_OPTS=-Xms256m -Xmx256m'
    ports:
      - '9200:9200'
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

volumes:
  postgres_data:
  redis_data:
  elasticsearch_data: